/* #2b2d42- dark blue
#8d99AE - light blue
#EDF2F4 */
/* font-family: 'Caveat', cursive; */
/* Global */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 margin: 0;
}

h1, h2 {
  /* font-family: 'Indie Flower',serif; */
  font-weight: 400;
  color: white;
}

h1, h3 {
  margin: 0;
}

h2 {
  /* font-size:20px; */
  background: #E2C044;
  margin-top: 0;
}

a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
/* Work Exeprience */
.work {
  background: #F5F5F5;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.col-narrow {
  width: 25%;
  float:left;
  /* min-height: 175px; */
}
.col-wide {
  width: 75%;
  float: left;
  padding-left:20px;
  /* min-height: 175px; */
}
/* Education */
.education {
  background: #D3D3D3;
}

.education div h3, .education div p  {
}

/* Header & Footer */

header, footer {
  background:#2B2D42;
  color:#8D99AE;
  margin:0;
}

h1 ~ h2, h2 ~ p, h2 ~ h3, h1 ~ h3, h3 ~ p {
  margin:0;
}
/* header */
.profile-img {
  border-radius: 50%;
}

header h1, header h2 {
  color:white;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  background: white;
  padding: 10px;
  display: inline-block;
}
