/* #2b2d42- dark blue
#8d99AE - light blue
#EDF2F4 */
/* font-family: 'Caveat', cursive; */
/* Global */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
/* font-family: 'Open Sans', sans-serif; */
/* font-family: system-ui; */
/* font-family: inherit; */
 margin: 0;
}

/* h3 {
  color: blue;
} */


h1, h2 {
  font-family: 'Indie Flower',serif;
  font-weight: 400;
  color: red;

}
h2 {
  font-size:40px;
  background: #E2C044;

  /* line-height:150% */
  margin-top: 0;
}
h1 {
  font-size:70px;
  /* line-height:150% */
  margin: 0;
}
h3 {
  /* font-family:'',monospace; */
  margin: 0;
  color: #3C474B;
}

a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
/* Work Exeprience */
.work {
  background: #F5F5F5;
}
h3 ~ p {
  margin:0;
}

.work .col-wide {

  color:#393E41;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

.col-narrow {
  width: 30%;
  float:left;
  min-height: 175px;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left:20px;
  min-height: 175px;
}
/* Education */
.education {
  background: #D3D3D3;
}

.education div h3, .education div p  {
  /* color: red; */

}

/* .education .content-wrap {
  color: red;
} */
/* Header & Footer */

header, footer {
  background:#2B2D42;
  /* background-image: url(/Users/tim_abiok/Desktop/EDUCATE/CSS-RESUME/images/jay.jpg); */
  color:#8D99AE;
  margin:0;
}

h1 ~ h2 {
  margin:0;
}

h2 ~ p {
  margin:0;
}

h2 ~ h3 {
  margin:0;
}

h1 ~ h3 {
  margin:0;
}
/* header */

.profile-img {
  /* width: 300px; */
  border-radius: 50%;
  /* float:left; */
  /* overflow: auto; */
  /* margin-right: 30px; */
}
/* header {
  text-align: center; */
}
header h1, header h2 {
  /* background-color: #E2C044; */
  color:#EDF2F4;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  background: white;
  padding: 10px;
  display: inline-block;
}
